<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trombin O'clock</title>

    <!-- Import de Pico CSS via leur CDN (Content Delivery Network) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

    <!-- Import de notre CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <a href="/">
            <img src="/logo/trombi.png" alt="Logo du trombinoclock">
        </a>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/promos">Promos</a></li>
                <li><a href="/search">Rechercher</a></li>
                <li><a href="/admin/addStudent">Ajouter</a></li>
            </ul>
        </nav>
    </header>
