<%- include('partials/header') %>

<main>
  <h2>500 - Une erreur serveur s'est produite !</h2>
  <p>Veuillez reessayer plus tard.</p>

  <p>Retour à la <a href="/">page d'accueil</a></p>
</main>
    
<%- include('partials/footer') %>
