<%- include('partials/header') %>

<main>
  <h1>Connexion</h1>

  <form action="/login" method="POST">

    <input type="text" placeholder="Indentifiant" name="login">
    <!--<input type="password" placeholder="Mot de passe" name="password">-->

    <button type="submit">Se connecter</button>

  </form>
</main>
    
<%- include('partials/footer') %>