<%- include('partials/header') %>

<h1>Chercher une promotion</h1>

<form method="get" action="/search/result">
    <input type="search" name="search" placeholder="Nom de la promotion">
    <button type="submit">Chercher</button>
</form>
    
<%- include('partials/footer') %>
